extends layout

block content
    nav.nav-panel
        a(href="/")#home
            h1 CR
        .nav-btn-container
            a(href="about") 
                button#about.btn.btn-nav.active  About Me
            a(href="projects")
                button#projects.btn.btn-nav Projects
    .about
        .overlay-header
        .header
            h1 About Me
        .container
            .text-container
                .text-section
                    h1 What I do now
                    p I'm working as a Fullstack Engineer at Comet.ml in New York City.
                    p We're a small, passionate team of developers and data scientists trying to enhance the workflow and productivity for artificial intelligence projects. 
                .text-section
                    h1 Where I came from
                    p In 2014, I wrote code for the first time during some free time at my summer internship. At that time, I was a junior undergrad studying finance and economics. At that time, I dropped all interest in finance and economics. I lived and breathed programming for the next two years.
                    p In early 2016, after having saved some money working at the same energy company I interned at, I quit and moved out to San Francisco. With no job lined up, I was living off a couch and my dreams.

                    p One month later, I was hired at Planet, and those dreams were fulfilled.

                    p At Planet I worked on a small team that developed the user interface for the Mission Control software that parses and displays telemetry and other pertinent data for the #[a(href='https://www.planet.com/pulse/planet-launches-satellite-constellation-to-image-the-whole-planet-daily/' target='_blank').text-link largest satellite constellation] in history.

                    p Missing friends and family on the east coast, I uprooted myself once again and left for New York City.

                .text-section
                    h1 What the future holds
                    p I am still feverishly learning, and passionate about using programming to complement our visual world.
                    p My most recent area of interest has been graphics programming and the mathematical concepts underpinning the field.
                    p This has angled my focus towards learning WebGL and linear algebra, and experimenting with using the browser as a medium for 3D information and data visualization.
                    p Oh, and #[a(href='https://medium.com/@crudisill11/programming-and-rock-climbing-8d56bd340289#.b4berhnbq' target='_blank').text-link rock climbing.] I love rock climbing and am getting better every day.

                .text-section
                    h1 Where you can find me
                    ul
                        li.icon-group
                            a(href='https://github.com/Camru')
                                i.fa.fa-github
                            a(href='https://medium.com/@crudisill11')
                                i.fa.fa-medium
                            a(href='https://angel.co/camden-rudisill')
                                i.fa.fa-angellist       
                            a(href='https://www.linkedin.com/in/camden-rudisill-b12a6158')
                                i.fa.fa-linkedin
                            a(href='mailto:crudisill11@gmail.com')
                                i.fa.fa-envelope
                            




