nav.nav-panel
    a(href="/")#home
        h1 CR
    .nav-btn-container
        a(href="about") 
            button#about.btn.btn-nav About Me
        a(href="projects")
            button#projects.btn.btn-nav Projects