extends layout

block content
    nav.nav-panel
        a(href="/")#home
            h1 CR
        .nav-btn-container
            a(href="about") 
                button#about.btn.btn-nav About Me
            a(href="projects")
                button#projects.btn.btn-nav Projects
    .home-container(style='background-image: url("images/header-background.jpg")')
        .overlay
            .text-container
                h1 Welcome
                p I'm Camden Rudisill and I'm currently a Fullstack Engineer at #[a(href="https://www.comet.ml/" target="_blank").text-link Comet.ml] where we're building a tool to optimize reproducibility and collaboration for machine learning projects. 
                p Previously, I was a Frontend Engineer at #[a(href="https://www.planet.com/" target="_blank").text-link Planet] helping to build the Mission Control software that operates their fleet of Earth-Imaging satellites.
                p This is my website where I host some of the projects I've built in the past. These projects typically revolve around web technologies and graphics programming.

