extends layout

block content
    nav.nav-panel
        a(href="/")#home
            h1 CR
        .nav-btn-container
            a(href="about")
                button#about.btn.btn-nav About Me
            a(href="projects") 
                button#projects.btn.btn-nav.active Projects
    .projects
        .header
            h1 Projects
        .container
           .project-items-container

                .project-item(style='background: url("images/Iditarod.png"); background-size: cover; background-position: center;')
                    .project-description
                        h1 Iditarod GL 
                        .btn-group
                            a(href='https://camru.github.io/Iditarod' target='_blank')
                                button.btn Live
                            a(href='https://github.com/Camru/Iditarod' target='_blank')
                                button.btn Code

                .project-item(style='background: url("images/MetGlobe.png"); background-size: cover; background-position: center;')
                    .project-description
                        h1 Meteorite Globe 
                        .btn-group
                            a(href='https://camru.github.io/Meteorite-Globe' target='_blank')
                                button.btn Live
                            a(href='https://github.com/Camru/Meteorite-Globe' target='_blank')
                                button.btn Code

                .project-item(style='background: url("images/MetLandings.png"); background-size: cover; background-position: center;')
                    .project-description
                        h1 Meteorite Landings
                        .btn-group
                            a(href='https://camru.github.io/Meteorite-Landings' target='_blank')
                                button.btn Live
                            a(href='https://github.com/Camru/Meteorite-Landings' target='_blank')
                                button.btn Code

                .project-item(style='background: url("images/DynamicPlane.png"); background-size: cover; background-position: center;')
                        .project-description
                            h1 WebGL Plane 
                            .btn-group
                                a(href='https://camru.github.io/DynamicPlane' target='_blank')
                                    button.btn Live
                                a(href='https://github.com/Camru/DynamicPlane' target='_blank')
                                    button.btn Code

                .project-item(style='background: url("images/LitCube.png"); background-size: cover; background-position: center;')
                        .project-description
                            h1 WebGL Cube 
                            .btn-group
                                a(href='https://camru.github.io/PointLightCube' target='_blank')
                                    button.btn Live
                                a(href='https://github.com/Camru/PointLightCube' target='_blank')
                                    button.btn Code

                .project-item(style='background: url("images/3D-Cubefield.png"); background-size: cover; background-position: center;')
                        .project-description
                            h1 3D Cube Field 
                            .btn-group
                                a(href='https://camru.github.io/cube-field/' target='_blank')
                                    button.btn Live
                                a(href='https://github.com/Camru/cube-field' target='_blank')
                                    button.btn Code

                .project-item(style='background: url("images/Circle-Packing.png"); background-size: cover; background-position: center;')
                        .project-description
                            h1 Circle Packing 
                            .btn-group
                                a(href='https://camru.github.io/circle-packing' target='_blank')
                                    button.btn Live
                                a(href='https://github.com/Camru/circle-packing' target='_blank')
                                    button.btn Code

                .project-item(style='background: url("images/Snow.png"); background-size: cover; background-position: center;')
                        .project-description
                            h1 2D Snow
                            .btn-group
                                a(href='https://camru.github.io/snowJS' target='_blank')
                                    button.btn Live
                                a(href='https://github.com/Camru/snowJS' target='_blank')
                                    button.btn Code

                .project-item(style='background: url("images/PureTube.png"); background-size: cover; background-position: center;')
                        .project-description
                            h1 PureTube 
                            .btn-group
                                a(href='https://camru.github.io/PureTube' target='_blank')
                                    button.btn Live
                                a(href='https://github.com/Camru/PureTube' target='_blank')
                                    button.btn Code

                .project-item(style='background: url("images/MilkyWars.png"); background-size: cover; background-position: center;')
                        .project-description
                            h1 MilkyWars 
                            .btn-group
                                a(href='https://camru.github.io/MilkyWars' target='_blank')
                                    button.btn Live
                                a(href='https://github.com/Camru/MilkyWars' target='_blank')
                                    button.btn Code

                .project-item(style='background: url("images/FireSky.png"); background-size: cover; background-position: center;')
                        .project-description
                            h1 FireSky
                            .btn-group
                                a(href='https://firesky.herokuapp.com/' target='_blank')
                                    button.btn Live
                                a(href='https://github.com/Camru/FireSky' target='_blank')
                                    button.btn Code

                .project-item(style='background: url("images/CreditCard.png"); background-size: cover; background-position: center;')
                        .project-description
                            h1 Kredit Card
                            .btn-group
                                a(href='http://www.camden.design/algorithms' target='_blank')
                                    button.btn Live
                                a(href='https://github.com/Camru/algorithms' target='_blank')
                                    button.btn Code




